In [2]:
import pandas as pd

# Load the datasets
file_collision = 'C:/Users/loma5202/OneDrive - Kruvelab/PhD/courses/introduction_to_data_science/project/UK_road_casualty_collision_1979_2022.csv'
file_vehicle = 'C:/Users/loma5202/OneDrive - Kruvelab/PhD/courses/introduction_to_data_science/project/UK_road_casualty_vehicle_1979_2022.csv'

# Read the CSV files
df_collision = pd.read_csv(file_collision)
df_vehicle = pd.read_csv(file_vehicle)

C:\Users\loma5202\AppData\Local\Temp\ipykernel_6928\339320285.py:8: DtypeWarning: Columns (0,2,15,16,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df_collision = pd.read_csv(file_collision)
C:\Users\loma5202\AppData\Local\Temp\ipykernel_6928\339320285.py:9: DtypeWarning: Columns (0,2,24,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_vehicle = pd.read_csv(file_vehicle)

In [4]:
# Remove unnecessary columns
cols_remove = ['location_easting_osgr', 'location_northing_osgr', 'longitude', 'latitude', 'police_force',
               'local_authority_district', 'local_authority_ons_district', 'local_authority_highway',
               'first_road_number', 'second_road_number', 'pedestrian_crossing_human_control',
               'trunk_road_flag', 'lsoa_of_accident_location']

cols_save = ['accident_index', 'accident_year', 'accident_reference', 'vehicle_reference', 'vehicle_type',
             'sex_of_driver', 'age_of_driver', 'engine_capacity_cc', 'age_of_vehicle']

df_collision = df_collision.drop(cols_remove, axis = 1)
df_vehicle = df_vehicle[cols_save]

In [5]:
# Joining the datasets on 'accident_index'
df_joined = pd.merge(df_collision, df_vehicle, on = 'accident_index', how = 'inner')

In [8]:
df_joined.head(1)

,accident_index,accident_year_x,accident_reference_x,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,first_road_class,...,urban_or_rural_area,did_police_officer_attend_scene_of_accident,accident_year_y,accident_reference_y,vehicle_reference,vehicle_type,sex_of_driver,age_of_driver,engine_capacity_cc,age_of_vehicle
0,197901A11AD14,1979,01A11AD14,3,2,1,18/01/1979,5,08:00,3,...,-1,-1,1979,01A11AD14,1,109,1,44,-1,-1

In [ ]:
cols_remove = ['accident_index', 'accident_year_x', 'accident_reference_x', 'accident_reference_y', 
               'vehicle_reference']

df_joined = df_joined.drop(cols_remove, axis = 1)

In [14]:
# Creating a mapping function for the vehicle_type groups
def map_vehicle_type(value):
    if value in [2, 3, 4, 5, 97, 104, 105, 106]:
        return 2
    elif value in [8, 9, 108, 109]:
        return 8
    elif value in [20, 21, 113]:
        return 20
    elif value in [90, 98, 99]:
        return 90
    elif value in [10, 110]:
        return 10
    else:
        return value

# Applying the mapping function to the vehicle_type column
df_joined['vehicle_type_grouped'] = df_joined['vehicle_type'].apply(map_vehicle_type)

# Checking the modification by displaying the first few rows
df_joined[['vehicle_type', 'vehicle_type_grouped']].head()

   vehicle_type  vehicle_type_grouped
0           109                     8
1           104                     2
2           109                     8
3           109                     8
4           109                     8